name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  GO_VERSION: 1.17

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Go
        if: steps.mod-cache.outputs.cache-hit != 'true'
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
  mod:
    name: Module Download
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set Mod Cache
        id: mod-cache
        uses: actions/cache@v2.1.7
        with:
          path: ~/go/pkg/mod
          key: mod-${{ hashFiles('**/go.sum') }}
      - name: Setup Go
        if: steps.mod-cache.outputs.cache-hit != 'true'
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Module Download
        if: steps.mod-cache.outputs.cache-hit != 'true'
        run: go mod download
  protobuf:
    name: Protobuf Generation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set Protobuf Cache
        id: protobuf-cache
        uses: actions/cache@v2.1.6
        with:
          path: ./server/protobuf
          key: protobuf-${{ hashFiles('**/*.proto') }}
      - name: Set Go Tools Cache
        id: tools-cache
        if: steps.protobuf-cache.outputs.cache-hit != 'true'
        uses: actions/cache@v2
        with:
          path: ~/go/bin
          key: tools-${{ env.GO_VERSION }}
      - name: Install Protoc
        if: steps.protobuf-cache.outputs.cache-hit != 'true'
        uses: arduino/setup-protoc@v1
      - name: Setup Go
        if: steps.protobuf-cache.outputs.cache-hit != 'true' && steps.tools-cache.outputs.cache-hit != 'true'
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Install Tools
        if: steps.protobuf-cache.outputs.cache-hit != 'true' && steps.tools-cache.outputs.cache-hit != 'true'
        run: |
          go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest
      - name: Generate code
        if: steps.protobuf-cache.outputs.cache-hit != 'true'
        run: make grpc-go
  build:
    name: Build
    runs-on: ubuntu-latest
    needs: [mod, protobuf]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Set Mod Cache
        uses: actions/cache@v2.1.7
        with:
          path: ~/go/pkg/mod
          key: mod-${{ hashFiles('**/go.sum') }}
      - name: Set Protobuf Cache
        uses: actions/cache@v2.1.6
        with:
          path: ./server/protobuf
          key: protobuf-${{ hashFiles('**/*.proto') }}
      - name: Build
        run: go build -o ./Q-n-A
      - uses: actions/upload-artifact@v2.3.1
        with:
          name: Q-n-A
          path: ./Q-n-A
  test:
    name: Test
    runs-on: ubuntu-latest
    needs: [mod, protobuf]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Set Mod Cache
        uses: actions/cache@v2.1.7
        with:
          path: ~/go/pkg/mod
          key: mod-${{ hashFiles('**/go.sum') }}
      - name: Set Protobuf Cache
        uses: actions/cache@v2.1.6
        with:
          path: ./server/protobuf
          key: protobuf-${{ hashFiles('**/*.proto') }}
      - name: Run Test
        run: go test ./... -v
